{% extends 'main.html' %}


{% block content %}
<style>
    .goals-and-penaltys-container{
        display: grid;
        grid-template-columns: 8fr 1fr 8fr;
    }
</style>

<style>
    .edit-container{
        display: grid;
        grid-template-columns: 8fr 1fr 8fr;
    }
    .title{

    padding-bottom: 20px;

    }
</style>

<h1 class="title">{{match.team1.name}} vs {{match.team2.name}}</h1>
<div class="edit-container" style="margin-top: 20px;">

<div>
    <h2>{{match.team1.name}}</h2>
    <a href="{% url 'match_event_management' match.id %}?q=add_goal&r=team1" class="btn btn-success">Dodaj gola</a>
    <a href="{% url 'match_event_management' match.id %}?q=add_penalty&r=team1" class="btn btn-success">Dodaj przewinienie</a>


    {% if check == "add_goal" or check == "add_penalty" %}
    {% if check2 == "team1" %}
        <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input href="{% url 'match_event_management' match.id %}" type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>
    {% endif %}
    {% endif %}

</div>

    <div></div>
<div>
    <h2>{{match.team2.name}}</h2>
    <a href="{% url 'match_event_management' match.id %}?q=add_goal&r=team2" class="btn btn-success">Dodaj gola</a>
    <a href="{% url 'match_event_management' match.id %}?q=add_penalty&r=team2" class="btn btn-success">Dodaj przewinienie</a>

    {% if check == "add_goal" or check == "add_penalty" %}
    {% if check2 == "team2" %}
        <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input href="{% url 'match_event_management' match.id %}" type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>
    {% endif %}
    {% endif %}


        {% if check == "delete_goal" or check == "delete_penalty" %}
    {% if check2 == "team2" %}
        <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input href="{% url 'match_event_management' match.id %}" type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>
    {% endif %}
    {% endif %}
</div>

</div>

<p> </p>
<p> </p>
<div class="goals-and-penaltys-container">

    <div>

        <table class="table table-bordered table-dark">
    <tr>
        <td>
            Zawodnik
        </td>
        <td>
            Kartka
        </td>
                <td>

        </td>
    </tr>
    {% for mp in match_penalties_team1 %}
    <tr>
        <td>
            {{mp.player}}
        </td>
        <td>
            {{mp.card.type}}
        </td>
                <td>
            <a href="{% url 'match_event_penalty_delete' mp.player.id mp.match.id %}" class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

    <div>

    </div>

    <div>

        <table class="table table-bordered table-dark">
    <tr>
        <td>
            Zawodnik
        </td>
        <td>
            Kartka
        </td>
        <td>

        </td>
    </tr>
    {% for mp in match_penalties_team2 %}
    <tr>
        <td>
            {{mp.player}}
        </td>
        <td>
            {{mp.card.type}}
        </td>
        <td>
            <a href="{% url 'match_event_penalty_delete' mp.player.id mp.match.id %}" class="btn btn-danger">Usuń</a>
        </td>

    </tr>
    {% endfor %}
</table>
    </div>

</div>


<div class="goals-and-penaltys-container">
    <div>
       <table class="table table-bordered table-dark">
    <tr>
        <td>
            Strzelec gola
        </td>
        <td>
            minuta
        </td>
        <td></td>
    </tr>
    {% for mg in match_goals_team1 %}
    <tr>
        <td>
            {{mg.player}}
        </td>
        <td>
            {{mg.time}}
        </td>
                <td>
            <a href="{% url 'match_event_goal_delete' mg.player.id mg.match.id mg.time %} " class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

    <div>

    </div>
    <div>
        <table class="table table-bordered table-dark">
    <tr>
        <td>
            Strzelec gola
        </td>
        <td>
            minuta
        </td>
        <td>

        </td>
    </tr>
    {% for mg in match_goals_team2 %}
    <tr>
        <td>
            {{mg.player}}
        </td>
        <td>
            {{mg.time}}
        </td>
                <td>
            <a href="{% url 'match_event_goal_delete' mg.player.id mg.match.id mg.time  %}" class="btn btn-danger">Usuń</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    </div>

</div>


{% endblock content %}