{% extends 'main.html' %}

{% block content %}

<div style="margin-top: 20px;">
    <a href="{% url 'match_create' %}" class="btn btn-success"> Dodaj mecz </a>
</div>
<div>
    <p></p>
</div>
<div>
    {% for match in matches %}
    <div>

        <p> <a href="{% url 'match_delete' match.id %}" class="btn btn-danger">Usuń </a> <a href="{% url 'match_edit' match.id %}" class="btn btn-primary">Edytuj </a> <a href="{% url 'match_event_management' match.id %}" class="btn btn-success">Zarządzaj zdarzniami meczowymi </a> <a href="{% url 'squad_management' match.id %}" class="btn btn-success"> Zarządzaj składem </a> <a href="{% url 'cancel_finish_match' match.id %}" class="btn btn-success"> Anuluj zakończenie meczu </a> {{match.team1 }} vs {{match.team2}}</p>

    </div>
    {% endfor %}
</div>
<div>

</div>

{% endblock content %}