{% extends 'main.html' %}

{% block content %}

<div class="admin container" style="margin-top: 20px;">
    <table class="table table-bordered table-warning">
    <tr>
        <td>
            <a href="{% url 'team_management' %}" > Zarządzanie drużynami </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="{% url 'player_management' %}"> Zarządzanie piłkarzami </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="{% url 'match_management' %}"> Zarządzanie meczami </a>
        </td>

    </tr>
    <tr>
        <td>
            <a href="{% url 'league_management' %}"> Zarządzanie ligami </a>
        </td>

    </tr>
    </table>

</div>


{% endblock content %}