{% extends 'main.html' %}

{% load static %}


{% block content %}

<style>
    .option{
        background-color: #001245;
        color: white;
        padding: 10px;
        border-radius: 10px;
        margin-top: 20px;
        border-style: solid;
        border-width: 2px;
        box-shadow: 3px 3px 7px;
        border-color: #000B29;
    }

    a{
        color: white !important;
    }

</style>

<a style="margin-top: 20px; margin-left: 10px;border-style: solid;border-width: 2px;box-shadow: 3px 3px 7px" class="btn btn-info" href="{% url 'home' %}"> Powrót </a>


<div class="admin container" style="margin-top: 20px;">

    <div class="option">
    <a href="{% url 'player_management' %}"> <h5>Zarządzanie piłkarzami</h5> </a>
    </div>

    <div class="option">
        <a href="{% url 'team_management' %}"> <h5>Zarządzanie drużynami</h5> </a>
    </div>

    <div class="option">
            <a href="{% url 'match_management' %}"> <h5>Zarządzanie meczami nadchodzącymi / aktywnymi</h5> </a>
    </div>

    <div class="option">
            <a href="{% url 'finished_match_management' %}"> <h5>Zarządzanie meczami zakończonymi </h5></a>
    </div>

    <div class="option">
            <a href="{% url 'league_management' %}"> <h5>Zarządzanie ligami</h5> </a>
    </div>


</div>


{% endblock content %}