{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Szukaj rozgrywek</h3>
        <hr>
    </div>

    <div>
        <a href="{% url 'statistics' %}"> Statystyki drużyn </a>
    </div>
    <div>
        {% for match in matches %}
        <div>
        <p> <a href="{% url 'match_delete' match.id %}">Usuń </a> <a href="{% url 'match_edit' match.id %}">Edytuj </a> {{match.team1 }} vs {{match.team2}}</p>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock content %}