{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr 1.5fr;
    }

}


</style>

{% include 'navbar.html' %}

<div class="home-container">

    <div>
        <h3>Szukaj rozgrywek</h3>
        <hr>
        <table class="table table-bordered table-dark">
        <tr>
            <td>
                <a href="{% url 'home'%}">Wszystkie mecze</a>
            </td>
        </tr>

        {% for league in leagues %}
        <tr>
            <td>
                <a href="{% url 'home' %}?q={{league.name}}" class="text-white" style="transition: color 0.3s ease;">{{league}}</a>
            <a href="{% url 'statistics' league.id %}"> Statystyki drużyn </a>
                <a href="{% url 'player_statistics' league.id %}"> Statystyki piłkarzy </a>
            </td>
        </tr>

        {% endfor %}
            </table>


    </div>

    <div>

    </div>
    <div>
        <p> <a href="{% url 'queues' %}" class="btn btn-primary" >Kolejki </a> </p>

        <table class="table table-bordered table-dark">
            <tr>
                <td>
                    <h5>{{match_count}} nadchodzących meczy</h5>
                </td>
            </tr>



        {% for match in matches %}

            <tr>
                <td>
                    <a href="{% url 'team' match.team1.id %}">{{match.team1 }}</a> vs <a href="{% url 'team' match.team2.id %}">{{match.team2}}</a>
                </td>
            </tr>

        {% endfor %}

            </table>

    </div>

    <div>

    </div>

</div>


{% endblock content %}