{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Szukaj rozgrywek</h3>
        <hr>

        <div>
            <a href="{% url 'home'%}">Wszystkie mecze</a>
        </div>

        {% for league in leagues %}
        <div>
            <a href="{% url 'home' %}?q={{league.name}}">{{league}}</a>
        </div>
        {% endfor %}

    </div>

    <div>
        <a href="{% url 'statistics' %}"> Statystyki drużyn </a>
        {% for match in matches %}
        <div>
        {{match.team1 }} vs {{match.team2}}</p>
        </div>
        {% endfor %}

    </div>

</div>


{% endblock content %}