{% extends 'main.html' %}

{% block content %}

<a style="margin-top: 20px; margin-bottom: 10px;" class="btn btn-info" href="{{request.META.HTTP_REFERER}}"> Powrót </a>

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Nazwa użytkownika: </label>
        <input type="text" name="username" placeholder="Wpisz nazwę" />

        <label>Hasło: </label>
        <input type="password" name="password" placeholder="Wpisz hasło"  />

        <input type="submit" class="btn btn-primary" value="Zaloguj się" />
    </form>
</div>

{% endblock content%}
