{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 2fr 1fr 3fr 1.5fr;
    }

    .league{
        margin-left: 5px;
    }

    .options{
        text-decoration: none;
        padding: 5px;
        font-size: 13px;
        color: #E1E1E1;
    }

    .match {
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    position: relative;
    }

    .match .link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        text-decoration: none;
    }

    .match img {
        margin: 0 10px;
    }

    .match .team-link {
        margin: 0 10px;
        text-decoration: none;
    }

    .vs {
        margin: 0 10px;
    }

</style>

{% include 'navbar.html' %}
<h1>Rozegrane mecze</h1>
<div class="home-container">

    <div>
        <hr>
        <table class="table table-bordered table-custom">
        {% for league in leagues %}
<tr>
    <td>
        <div style="overflow: hidden;">
            {% if league.league_logo %}
            <img src="{{ league.league_logo.url }}" width="30" height="30" style="float: left; margin-right: 10px; margin-left: 7px;">
            {% endif %}

            <div class="league" style="float: left;">
                <a href="{% url 'matches_played' %}?q={{league.name}}" class="text-white" style="text-decoration: none;">{{ league }}</a>
            </div>
        </div>

        <a class="options" href="{% url 'statistics' league.id %}"> Statystyki drużyn </a>
        <a class="options" href="{% url 'player_statistics' league.id %}"> Statystyki piłkarzy</a>
        <a class="options" href="{% url 'queues' league.id %}">Kolejki</a>
        <div style="clear: both;"></div>

    </td>
</tr>
{% endfor %}

    </table>


    </div>

    <div>

    </div>
    {% if league == "FALSE" %}

    {% else %}
    <div>

        <table class="table table-bordered table-custom" style="margin-top: 35px;">
            <tr>
                <td>
                    <h5><span color="white">{{league}}</span></h5>
                    <h5><span color="white">{{match_count}} rozegranych meczy</span></h5>
                </td>
            </tr>



        {% for match in matches %}

            <tr>
                <td>
                    <div class="match">
                        <a class="link" href="{% url 'match-detail' match.id %}"></a>
                        <img src="{{ match.team1.team_logo.url }}" width="30" height="30" style="margin-left: 40px;" />
                        <a style="z-index: 2;" href="{% url 'team' match.team1.id %}" class="team-link">{{ match.team1 }}</a>
                        <span class="vs">vs</span>
                        <a style="z-index: 2;" href="{% url 'team' match.team2.id %}" class="team-link">{{ match.team2 }}</a>
                        <img src="{{ match.team2.team_logo.url }}" width="30" height="30" style="margin-right: 10px;" />
                    </div>

                </td>
            </tr>

        {% endfor %}

            </table>


    </div>
    {% endif %}

    <div>

    </div>

</div>


{% endblock content %}