{% extends 'main.html' %}

{% block content %}
<h1>{{player.name}} {{player.surname}}</h1>
<div>
    <table class="table table-bordered table-dark">
        <tr>
            <td>
                Drużyna:
            </td>
            <td>
                <a href="{% url 'team' player.team.id %}">{{player.team}}</a>
            </td>
        </tr>

        <tr>
            <td>
                Pozycja:
            </td>
            <td>
                {{player.position}}
            </td>
        </tr>

        <tr>
            <td>
                Wiek:
            </td>
            <td>
                {{player.age}}
            </td>
        </tr>

        <tr>
            <td>
                Narodowość:
            </td>
            <td>
                {{player.nationality}}
            </td>
        </tr>

        <tr>
            <td>
                Numer:
            </td>
            <td>
                {{player.number}}
            </td>
        </tr>
    </table>
</div>
{% endblock content%}