<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>

</style>

{% extends 'main.html' %}

{% block content %}

<a style="margin-top: 20px; margin-bottom: 10px;" class="btn btn-info" href="{{request.META.HTTP_REFERER}}"> Powrót </a>

<div class="Statistics container">

    <div>
        <h1> Tabela Wyników</h1>
    </div>
    <table class="table table-bordered table-custom">
        <tr>
            <td>
                <h2>Piłkarz</h2>
            </td>

            <td>
                <h2>Drużyna</h2>
            </td>

            <td>
                <h2>Liczba Goli</h2>
            </td>
        </tr>
        {% for p in players %}
        <tr>

            <td>
                <a href="{% url 'player' p.id %}" style="text-decoration: none; color: #00C9FF;">{{p.name}} {{p.surname}}</a>
            </td>

            <td>
                <p>{{p.team}} </p>
            </td>

            <td>
                <p>{{p.goals}} </p>
            </td>

        </tr>
        {% endfor%}
    </table>






</div>


{% endblock content %}