{% extends 'main.html' %}

{% block content %}

<style>
    .player-img{
        float:left;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .player-name{
        float:left;
        margin-top: 45px;
        margin-left: 10px;
    }

</style>

<div>
<a style="margin-top: 20px; margin-bottom: 10px;" class="btn btn-info" href="{{request.META.HTTP_REFERER}}"> Powrót </a>
<div>

<div class="player-img">
    <img src="{{ player.image.url }}" width="100" height="100" />
</div>

<div class="player-name">
    <h1>{{player.name}} {{player.surname}}</h1>
</div>

<div style="clear: both;"></div>

<div>
    <table class="table table-bordered table-custom">
        <tr>
            <td>
                Drużyna:
            </td>
            <td>
                <a href="{% url 'team' player.team.id %}">{{player.team}}</a>
            </td>
        </tr>

        <tr>
            <td>
                Pozycja:
            </td>
            <td>
                {{player.position}}
            </td>
        </tr>

        <tr>
            <td>
                Wiek:
            </td>
            <td>
                {{player.age}}
            </td>
        </tr>

        <tr>
            <td>
                Narodowość:
            </td>
            <td>
                {{player.nationality}}
            </td>
        </tr>

        <tr>
            <td>
                Numer:
            </td>
            <td>
                {{player.number}}
            </td>
        </tr>
    </table>
</div>
{% endblock content%}