{% extends 'main.html' %}

{% block content %}
<div class="queues-container">
    <title>Kolejki - {{ league.name }}</title>
    <h1>Kolejki {{ league.name }}</h1>
    {% for queue in queues %}
        <h2>Kolejka {{ queue.number }}</h2>
        {% for match in matches %}
            {% if match.queue_number == queue %}
                <div>
                    <a>{{ match.team1 }} vs {{ match.team2 }}</a>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}
