{% extends 'main.html' %}

{% block title %}
    Lista Meczów
{% endblock title %}

{% block content %}
<h1>Lista Meczów dla {{ league.name }}</h1>
<div class="queue-container">
    {% for queue in queues %}
        <h2>{{ queue }}</h2>
        <ul>
            {% for match in queue.matches.all %}
                <li>{{ match.team1.name }} vs {{ match.team2.name }}</li>
            {% empty %}
                <li>Brak meczów w tej kolejce.</li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>Brak kolejek w tej lidze.</p>
    {% endfor %}
</div>
{% endblock content %}
