{% extends 'main.html' %}

{% block content %}

<style>
    .player-container{
        background-color: #001245;
        color: white;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        border-style: solid;
        border-width: 2px;
        box-shadow: 3px 3px 7px;
        border-color: #000B29;
    }


    .name{
        padding: 5px;
        margin-left: 5px;
    }

    .controllers{
        padding: 5px;
        margin-left: 5px;
    }

</style>

<a style="margin-top: 20px; margin-bottom: 10px;" class="btn btn-info" href="{% url 'admin_panel' %}"> Powrót </a>

<div style="margin-top: 20px;">
<div>
    <a href="{% url 'player_create' %}" class="btn btn-success"> Dodaj piłkarza </a>
</div>
<div>
    <p></p>
</div>
    {% for player in players %}

    <div class="player-container">

        <div class="name">
            <h5><span style="color: white;">{{player.name }} {{player.surname}}</span></h5>
        </div>

        <div class="controllers">
            <a href="{% url 'player_delete' player.id %}" class="btn btn-danger" >Usuń </a> <a href="{% url 'player_edit' player.id %}" class="btn btn-primary">Edytuj </a>
        </div>

    </div>


    {% endfor %}
<div>

{% endblock content %}