{% extends 'main.html' %}


{% block content %}
<style>
    .goals-and-penaltys-container{
        display: grid;
        grid-template-columns: 8fr 1fr 8fr;
    }
</style>

<style>
    .edit-container{
        display: grid;
        grid-template-columns: 8fr 1fr 8fr;
    }
    .title{

    padding-bottom: 20px;

    }
</style>

<h1 class="title">{{match.team1.name}} vs {{match.team2.name}}</h1>
<div class="edit-container">

<div>
    <h2>{{match.team1.name}}</h2>
    <a href="{% url 'squad_management' match.id %}?q=add_player&r=team1" class="btn btn-success">Dodaj Zawodnika</a>
{% if check == "add_player"  %}
    {% if check2 == "team1" %}
        <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input href="{% url 'squad_management' match.id %}" type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>
    {% endif %}
{% endif %}

<a href="{% url 'squad_management' match.id %}?q=delete_player&r=team1" class="btn btn-danger">Usuń Zawodnika</a>
{% if check == "delete_player" %}

    <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input  type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>

{% endif %}
</div>

    <div></div>
<div>
    <h2>{{match.team2.name}}</h2>
    <a href="{% url 'squad_management' match.id %}?q=add_player&r=team2" class="btn btn-success">Dodaj Zawodnika</a>
{% if check == "add_player"  %}
    {% if check2 == "team2" %}
        <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input href="{% url 'squad_management' match.id %}" type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>
    {% endif %}
{% endif %}

<a href="{% url 'squad_management' match.id %}?q=delete_player&r=team2" class="btn btn-danger">Usuń Zawodnika</a>
{% if check == "delete_player" %}

    <form method="POST" action="" >
        {% csrf_token %}
        {{form.as_p}}
        <input  type="submit" value="Zatwierdź" class="btn btn-success" />
    </form>

{% endif %}
</div>

</div>

<p> </p>
<p> </p>
<div class="goals-and-penaltys-container">

    <div>

        <table class="table table-bordered table-dark">
    <tr>
        <td>
            Zawodnik
        </td>
        <td>
            Numer
        </td>
    </tr>
    {% for st1 in squad_team1 %}
    <tr>
        <td>
            {{st1.player.name}}
        </td>
        <td>
            {{st1.player.number}}
        </td>
    </tr>
    {% endfor %}
</table>
    </div>

    <div>

    </div>

    <div>

        <table class="table table-bordered table-dark">
    <tr>
        <td>
            Zawodnik
        </td>
        <td>
            Numer
        </td>
    </tr>
    {% for st2 in squad_team2 %}
    <tr>
        <td>
            {{st2.player.name}}
        </td>
        <td>
            {{st2.player.number}}
        </td>
    </tr>
    {% endfor %}
</table>
    </div>

</div>





</div>


{% endblock content %}